<!DOCTYPE html>
<html>
    <head>
        <title>UzMovie.com</title>
       
     </head>
    <body>

       
        <div style="display:flex;  align-items:center; justify-content:between">
            {% for movie in movies|slice:"2:6" %}
            <div style="250px">
                {% if movie.banner %}
                    <img src="{{movie.banner.url}}" width='250px'/>
                
                {% endif %}

                <p>{{movie.title}}</p>

            </div>
            {% endfor %}            
{% comment %}             
            {% for img in movie_img %}
                <img src="{{img}}", width=250, height=400>
            {% endfor %}
            <p>{{movie.title}}</p> {% endcomment %}
        </div>
    </body>
</html>